.bodyBox {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.contentBox {
  width: 52%;
  margin-top: calc(-3.375rem / 2)
}



.tasksBox {
  margin-top: 4rem;
}

.tasks {
  margin-top: 1.5rem;
}