.bodyBox {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.contentBox {
  width: 52%;
  margin-top: calc(-3.375rem / 2)
}

.inputBox {
  width: 100%;
  display: flex;
  gap: 8px;
  height: 3.375rem;
}

.inputBox input {
  flex-grow: 1;
  padding-left: 1rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-300)
}

.inputBox input:focus {
  color: var(--gray-100)
}

.inputBox button {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--gray-100);
  background: var(--blue-dark);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border: 1px solid transparent;
  border-radius: 8px;

  padding: 0 1rem;
}

.inputBox button:hover {
  background: var(--blue);
  cursor: pointer;
}

.tasksBox {
  margin-top: 4rem;
}

.tasksCount {
  display: flex;
  justify-content: space-between;

  font-size: 0.875rem;
  font-weight: bold;
}

.tasksCountItem {
  display: flex;
  gap: 8px;
}

.tasksCountItem span {
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 0 0.5rem;
  border-radius: 999px;
}

.createdTasks {
  color: var(--blue);
}

.doneTasks {
  color: var(--purple);
}

